.navbar .navbar-header .logo{
	background-position: 0 10px;
    background-repeat: no-repeat;
    background:url(../img/logo.png) no-repeat center top;
    background-size: 40px 40px;
    padding: 0 5px;
    height: 50px;
    width: 50px; 
    float:left;	
}
.scroll {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.scroll .row {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.container .action{
	padding-left: 60px;
    padding-right: 60px;
    border-radius: 6px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #eee;
}
.app-logo {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform:translate3d(0,0,0);
} 
.stage-center {
    top: 0;
    left: 0;
}
.stage-left {
    left: -100%;
} 
.stage-right {
    left: 100%;
}
.transition {
    -moz-transition-duration: .375s;
    -webkit-transition-duration: .375s;
    -o-transition-duration: .375s;
}
.pessoas .imagem{
	text-align:center;
}
.pessoas .imagem a img{
	background-clip: padding-box;
    border-radius: 50%;
    width: 80%;
    max-width: 150px;
}
.center{
	text-align:center;
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}
.pessoa-modal-breakdown__item--true {
    background-image: url("../img/check-yes.png");
}
.pessoa-modal-breakdown__item {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 5px 0;
    padding-left: 35px;
    color: #5d5d5d;
    border: 0px;
}
.pessoa-modal-breakdown {
    margin: 20px auto;
    padding: 0;
    width: 200px;
    background-color: transparent;
    border-bottom: 0px;
    list-style: none;
}
.pessoa-modal-sidebar__name {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    margin: 10px 0 0;
    text-align: center;
    width: 100%;
    color: #423a76;
}
.pessoa-modal-sidebar__rating-number {
    background: #5c42ab none repeat scroll 0 0 padding-box;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1;
    margin: 5px auto;
    padding: 6px;
    text-align: center;
    width: 70px;
}
.pessoa-modal-reviews-list {
    margin: 0;
    padding: 0;
    border-bottom: 0px;
}
.pessoa-modal-reviews-list__item {
    border-bottom: 1px solid #d4d4d8;
    border-top: 0px;
    padding: 20px;
    transition: all 0.2s ease 0s;
    display: block;
    width: 98%;
}
.pessoa-modal-reviews-list__header {
    width:95%;
    clear: both;
    display: table;
}
.pessoa-modal-review__heading {
    color: #2a283d;
    float: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 8px;
    padding: 0;
}
.pessoa-modal-review__stars {
    float: right;
    font-size: 25%;
    width: 90px;
}

.pessoa-modal-review__stars img {
    width: 100%;
}
.pessoa-modal-review__comments {
    line-height: 1.5;
    margin-bottom: 6px;
    transition: all 0.2s ease 0s;
    width: 95%;
    color: #5d5d5d;
}

.booking_summary .row div:first-child {
    float: left;
    text-align: left; 
}
.booking_summary .row div:last-child {
    float: right;
    text-align: right; 
    font-weight: bold;
}
.booking_summary .row {
    margin: 5px 0;
}
.booking_summary .row div{
    padding:3px;
}
.booking_summary .booking-cost {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px dashed #ccc;
    border-radius: 3px;
    margin: 15px 0px;
    width: 98%;
}
.booking_summary .booking-cost .booking_details_item {
    font-weight: 600;
}
.booking_summary .booking-cost .booking_details_total_cost{
	border-top: 1px dashed #ccc;
    color: #5c42ab !important;	
}